<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- vamos a renderizar todo dentro de app -->
    <div id="app">
        <!-- traemos titulo desde vue -->
        <h1>{{ mensaje }}</h1>
        <!-- linkeamos con vue, v-model -->
        <input type="text" v-model="nuevos_personajes">



        <ul>
            <li v-for="personaje of personajes">
                {{ personaje.nombre }} - {{ personaje.clan }}               
                <span v-if="personaje.cantidad === 0">No hay personajes agregados</span>
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="01.js"></script>
</body>
</html>