<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- vamos a renderizar todo dentro de app -->
    <div id="app">
        <!-- traemos titulo desde vue -->
        <h1>{{ mensaje }}</h1>
        <!-- linkeamos con vue, v-model -->
        <div class="form-container">

            <div class="field">
                <input placeholder="Nombre del nuevo personaje" type="text" v-model="nuevo_personaje" v-on:keyup.enter="crearPersonaje">
                <input placeholder="Nombre del nuevo clan" type="text" v-model="clan_name" v-on:keyup.enter="crearPersonaje">
                <button v-on:click="crearPersonaje">Crear personaje</button>
            </div>
        </div>

        <ul>
            <li v-for="personaje of personajes">
                {{ personaje.nombre }} - {{ personaje.clan }}
                <span v-if="personaje.clan === ''"> Sin clan </span>
                <button @click ="personaje.clan = random_clan()">Clan aleatorio</button>
            </li>
        </ul>

        <!-- <div>
            <button @click="armar_lista()">Listar conteo</button>
                <ul>
                    <li v-for="miembro of miembros">
                        {{miembro}}
                    </li>
                </ul>
            </h3>
        </div> -->
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="01.js"></script>
</body>
</html>